<div class="col-md-4 core-container" >
    <div style="padding-left:10px; padding-top:10px;">
        <h3 style="padding-bottom:10px; padding-top:10px; color: #3367D6">
            Create a Route
        </h3>

        <!--             <span class="glyphicon glyphicon-paperclip" style="padding-right: 5px;"> </span>  Share your route:  <a href="/">  https://maps.com/127 </a>-->
        <form class="row" action="/route/new" method="POST">
            <div >
                <i class="material-icons" style="padding-left:10px ">adjust</i>
                <input id="origin-input" name="origin" class="controls" type="text" placeholder="Enter an origin location..." onPaste="" onkeydown="if (event.keyCode == 13) { return false;}">
            </div>
                <!--<input id="origin" type="text" name='origin' class="form-control" placeholder="Origin"> -->
            <div>
                <i class="material-icons" style = "padding-left:10px">place</i>
                <input id="destination-input" name="destination" class="controls" type="text" placeholder="Enter a destination location..." onPaste="" onkeydown="if (event.keyCode == 13) { return false;}">
            </div>
                <!--<input id="destination" type="text" name = 'destination' class="form-control" placeholder="Destination"> -->
           <!--  <a class="btn btn-lg btn-success" type="submit" value="Submit" href="#" role="button">Route</a> -->


          <hr>
          <div class="col-md-6">
              <input id="num-seats" class="controls" type="text" placeholder="Enter number of seats...">
              <input id="date" class="controls" type="text" placeholder="Date...">
              <br><br>
              <input type="submit" class="btn btn-md" value="Create Route"></input>
          </div>
        </form>
        <hr>

        <br>

    </div>
</div>
