function mapManager(map, routeData) {
  this.map = map;
  this.originPlaceId = null;
  this.destinationPlaceId = null;
  this.travelMode = 'DRIVING';
  this.directionsService = new google.maps.DirectionsService;
  this.directionsDisplay = new google.maps.DirectionsRenderer;
  this.directionsDisplay.setMap(map);
  this.geocoder = new google.maps.Geocoder();

  this.markers = {};
  this.infoWindows = {};
  this.routeData = routeData;

  this.callbacks = {};

  var me = this;
  this.drawMap(function() {
    me.setMarkers();
  });

}

mapManager.prototype.drawMap = function(callback) {
  var routeData = this.routeData;

  var waypoints = [];
  for (var i = 0; i < routeData.confirmedRiders.length; i++) {
    waypoints.push({
      location: routeData.dropOffs[routeData.confirmedRiders[i]._id],
      stopover: true,
    });
  }

  routeData.stops.forEach(function(stop) {
    waypoints.push({
      location: stop,
      stopover: true
    });
  });

  me = this;

  function decodePolyline(encoded) {
    function returner(a) { return a; }
      if (!encoded) {
          return [];
      }
      var poly = [];
      var index = 0, len = encoded.length;
      var lat = 0, lng = 0;

      while (index < len) {
          var b, shift = 0, result = 0;

          do {
              b = encoded.charCodeAt(index++) - 63;
              result = result | ((b & 0x1f) << shift);
              shift += 5;
          } while (b >= 0x20);

          var dlat = (result & 1) != 0 ? ~(result >> 1) : (result >> 1);
          lat += dlat;

          shift = 0;
          result = 0;

          do {
              b = encoded.charCodeAt(index++) - 63;
              result = result | ((b & 0x1f) << shift);
              shift += 5;
          } while (b >= 0x20);

          var dlng = (result & 1) != 0 ? ~(result >> 1) : (result >> 1);
          lng += dlng;

          var p = {
              lat: returner.bind(null, lat / 1e5),
              lng: returner.bind(null, lng / 1e5),
          };
          poly.push(p);
      }
      return poly;
  }

  this.directionsService.route({
    origin: routeData.origin,
    destination:  routeData.destination,
    travelMode: this.travelMode,
    waypoints: waypoints,
    optimizeWaypoints: true
  }, function(response, status) {
    if (status === 'OK') {
      var poly = decodePolyline(response.routes[0].overview_polyline);
      me.distance = google.maps.geometry.spherical.computeLength(poly);
      console.log(me.distance + " meters");
      me.directionsDisplay.setDirections(response);
      if (callback) callback();
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}

mapManager.prototype.setMarkers = function(map) {
  var map = this.map;
  var routeData = this.routeData;
  var contentString;
  var me = this;

  var allRiders = [];
  for (var i = 0; i < routeData.riders.length; i++) {
    var rider = routeData.riders[i];
    rider.confirmed = false;
    allRiders.push(rider);
  }
  for (var i = 0; i < routeData.confirmedRiders.length; i++) {
    var rider = routeData.confirmedRiders[i];
    rider.confirmed = true;
    allRiders.push(rider);
  }

  var me = this;
  allRiders.forEach(function(rider) {
    me.geocoder.geocode( { 'address': routeData.dropOffs[rider._id] }, function(results, status) {
      contentString = '<div>Facebook: <a href="' + rider.facebook.link + '">' + rider.facebook.name + '</a></div>';

      <% if (isDriver && view != "rider") { %>
        if (!rider.confirmed && routeData.confirmedRiders.length < routeData.seats) {
          contentString += '<button class="btn btn-success btn-xs" onclick="javascript:confirmRider(\'' + rider._id + '\', this)">Confirm</button>'
        }
      <% } %>


      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      var riderId = rider._id;

      var markerExists = me.markers[riderId] != undefined;

      if (!me.markers[riderId]) {
        me.markers[riderId] = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
          title: rider.facebook.name
        });
      }

      me.markers[riderId].setPosition(results[0].geometry.location);

      if (!markerExists) {
        me.infoWindows[riderId] = infowindow;
        me.markers[riderId].addListener('click', function() {
          me.riderClicked(rider._id);
          infowindow.open(map, me.markers[riderId]);
        });
      }
      else {
        me.infoWindows[riderId].setContent(contentString);
      }

      google.maps.event.addListener(infowindow, 'closeclick', me.infoWindowClosed.bind(me));

      <% if (action == "confirm") { %>
        if ("<%= riderId %>" == riderId) {
          me.riderClicked(rider._id);
          me.infoWindows[riderId].open(map, me.markers[riderId]);
        }
      <% } %>

    });
  });
}

mapManager.prototype.rideRequested = function(autocomplete) {
  <% if (user) { %>
    console.log("a", autocomplete);
    var place = autocomplete.getPlace();

    var address;
    if (place && place.place_id) {
      address = place.name;
    }
    else {
      address = $('#pac-input').val();
    }

    if (address == "") {
        window.alert("Please select an option from the dropdown list.");
        return;
    }

    if (me.testMarker) {
      me.testMarker.setMap(null);
      me.testInfoWindow.close();
    }

    var onclick = "riderLocationChanged(); setUpTable()";

    contentString = '<button class="btn btn-success btn-xs" onclick="' + onclick + '">Requst Ride</button>'


    me.testInfoWindow = new google.maps.InfoWindow({
      content: contentString
    });

    me.geocoder.geocode( { 'address': address }, function(results, status) {
      if (results.length == 0) {
        window.alert("Please use autocomplete when choosing a location.");
        return;
      }
      me.testMarker = new google.maps.Marker({
        map: me.map,
        position: results[0].geometry.location
      });
      me.testInfoWindow.open(me.map, me.testMarker);
    });

  <% } else { %>
    window.location.replace("/auth/facebook?redirect=" + encodeURIComponent(window.location.href));
  <% } %>
}

mapManager.prototype.changeRoute = function(location) {
  var autocomplete;
  if (location == "origin") { autocomplete = this.pickUpAutocomplete; }
  else { autocomplete = this.destinationAutocomplete}

  var place = autocomplete.getPlace();
  if (!place || !place.place_id) {
      //window.alert("Please select an option from the dropdown list.");
      if (location == "origin") { routeData[location] = this.pickUpInput.value; }
      else { routeData[location] = this.destinationInput.value; }

  }
  else {
      routeData[location] = place.name;
  }

  this.drawMap(function() {
    restoreMapText(location);
  });
}

mapManager.prototype.setupPlaceChangedListener = function(autocomplete, onChanged) {

  autocomplete.bindTo('bounds', this.map);
  autocomplete.addListener('place_changed', onChanged);

};

mapManager.prototype.bindAutocompleteToMap = function(autocomplete) {
  autocomplete.bindTo('bounds', this.map);
}

mapManager.prototype.hideTestMarker = function() {
  if (this.testMarker) {
    this.testMarker.setMap(null);
    this.testInfoWindow.close();
  }
}

mapManager.prototype.userClicked = function(riderId) {
  var marker = me.markers[riderId];
  this.map.setCenter(marker.getPosition());
  this.infoWindows[riderId].open(this.map, marker);
}




mapManager.prototype.infoWindowClosed = function() {
  if (this.callbacks.onInfoWindowClosed) { this.callbacks.onInfoWindowClosed(); }
  else { console.log("Warning. onInfoWindowClosed callback undefined"); }
}

mapManager.prototype.riderClicked = function(riderId) {
  if (this.callbacks.riderClicked) { this.callbacks.riderClicked(riderId); }
  else { console.log("Warning. riderClicked callback undefined"); }
}

mapManager.prototype.addListener = function(event, cb) {
  this.callbacks[event] = cb;
}
