<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Routepen</a>
        </div>
        <form class="navbar-form navbar-left">
            <div class="input-group">
                <div class="col-md-6">
                    <input type="text" id="search-origin" class="form-control" size="20" placeholder="Enter your origin"
                           onPaste="" onkeydown="if (event.keyCode == 13) { return false;}" autofocus>
                </div>
                <div class="col-md-6">
                    <input type="text" id="search-destination" class="form-control" size="20" placeholder="Enter your destination"  onPaste=""
                           onkeydown="if (event.keyCode == 13) { return false;}">
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <div id="navbar" class="navbar-collapse collapse">
            <!--<a href="#" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-plus" id="newride"></span> New Route!</a> -->
            <!--<ul class="nav navbar-nav">
                <li><a href="#">About</a></li>
            </ul> -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/route/new" class="btn newroute btn-md">
                        <span class="glyphicon glyphicon-plus" id="newride"></span> Create Route
                    </a>
                </li>
                <% if (user) { %>
                <li>
                    <a href="/route/mine" class="btn newroute btn-md">My Routes</a>
                </li>
                <% } %>
                <% if (user) { %>
                <li><a href="/auth/logout" data-size="xlarge" class="btn "><span class="fa fa-facebook"></span> Logout</a></li>
                <% } else { %>
                <li><a href="/auth/facebook?redirect=<%= encodeURIComponent(url) %>" data-size="xlarge" class="loginbtn btn "><span class="fa fa-facebook"></span> Login Facebook</a></li>
                <% } %>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div style="margin-top:100px"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeWLtoD-PTsiqaI1QuPR5y1Vas2P3QStA&libraries=places&callback=AutocompleteHandler"
        async defer></script>
<script type="text/javascript">
    var originInput = document.getElementById("search-origin");
    var destinationInput = document.getElementById("search-destination");


    function AutocompleteHandler(){
        var originAutocomplete = new google.maps.places.Autocomplete(
                originInput, {placeIdOnly: true});
        var destinationAutocomplete = new google.maps.places.Autocomplete(
                destinationInput, {placeIdOnly: true});
        this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
        this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');
    }

    AutocompleteHandler.prototype.setupPlaceChangedListener = function(autocomplete, mode){
        autocomplete.addListener('place_changed', function() {
            var place = autocomplete.getPlace();
            if (!place.place_id) {
                window.alert("Please select an option from the dropdown list.");
                return;
            }
            if (mode === 'ORIG') {
                this.originPlaceId = place.place_id;
            } else if (mode == "DEST"){
                this.destinationPlaceId = place.place_id;
            }
        });
    };

</script>
