<script type="text/javascript">

  var mapHandler;

  function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
          mapTypeControl: false,
          center: {lat: 34.4140, lng: -119.8489},
          zoom: 13
      });

      mapHandler = new showRoute(map);
  }


  var markers = {}, infoWindows = {};

  function showRoute(map) {
    this.map = map;
    this.originPlaceId = null;
    this.destinationPlaceId = null;
    this.travelMode = 'DRIVING';
    this.directionsService = new google.maps.DirectionsService;
    this.directionsDisplay = new google.maps.DirectionsRenderer;
    this.directionsDisplay.setMap(map);
    this.geocoder = new google.maps.Geocoder();

    var me = this;
    this.drawMap(function() {
      me.setUpDropOff(map);
      me.setMarkers();
    });

  }

  showRoute.prototype.drawMap = function(callback) {
    var waypoints = [];
    for (var i = 0; i < routeData.confirmedRiders.length; i++) {
      waypoints.push({
        location: routeData.dropOffs[routeData.confirmedRiders[i]._id],
        stopover: true,
      });
    }

    console.log(waypoints);

    me = this;

    console.log("routing from", routeData.origin, "to", routeData.destination);
    this.directionsService.route({
      origin: routeData.origin,
      destination:  routeData.destination,
      travelMode: this.travelMode,
      waypoints: waypoints,
      optimizeWaypoints: true
    }, function(response, status) {
      if (status === 'OK') {
        console.log(response.routes[0].warnings);
        me.directionsDisplay.setDirections(response);
        if (callback) callback();
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }

  showRoute.prototype.setMarkers = function(map) {
    var map = this.map;
    var contentString;
    var me = this;

    var allRiders = [];
    for (var i = 0; i < routeData.riders.length; i++) {
      var rider = routeData.riders[i];
      rider.confirmed = false;
      allRiders.push(rider);
    }
    for (var i = 0; i < routeData.confirmedRiders.length; i++) {
      var rider = routeData.confirmedRiders[i];
      rider.confirmed = true;
      allRiders.push(rider);
    }

    for (var i = 0; i < allRiders.length; i++) {
      var rider = allRiders[i];
      this.geocoder.geocode( { 'address': routeData.dropOffs[rider._id] }, function(results, status) {
        contentString = "<div>" + rider.facebook.name + "</div>";

        <% if (isDriver) { %>
          if (!rider.confirmed) {
            contentString += '<button class="btn btn-success btn-xs" onclick="javascript:confirmRider(\'' + rider._id + '\', this)">Confirm</button>'
          }
        <% } %>


        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var riderId = rider._id;

        var markerExists = markers[riderId] != undefined;

        markers[riderId] = markers[riderId] || new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
          title: rider.facebook.name
        });

        markers[riderId].setPosition(results[0].geometry.location);

        if (!markerExists) {
          infoWindows[riderId] = infowindow;
          markers[riderId].addListener('click', function() {
            hightlightInTable(rider._id);
            infowindow.open(map, markers[riderId]);
          });
        }
        else {
          infoWindows[riderId].setContent(contentString);
        }


        google.maps.event.addListener(infowindow, 'closeclick', unHighlightTable);

      });
    }
  }

  showRoute.prototype.setUpDropOff = function(map) {
    this.dropOffInput = document.getElementById("pac-input");
    var dropOffInput;
    if (this.dropOffInput) {
      dropOffAutocomplete = new google.maps.places.Autocomplete(
            this.dropOffInput, {placeIdOnly: true});

      var me = this;
      this.setupPlaceChangedListener(dropOffAutocomplete, function() {
        <% if (user) { %>
          var place = dropOffAutocomplete.getPlace();
          if (!place.place_id) {
              window.alert("Please select an option from the dropdown list.");
              return;
          }

          riderLocationChanged(place);
          setUpTable();

        <% } else { %>
          window.location.replace("/auth/facebook?redirect=" + encodeURIComponent(window.location.href));
        <% } %>
      });
    }

    pickUpInput = document.getElementById("editOriginInput");
    if (pickUpInput) {
      var pickUpInputAutocomplete = new google.maps.places.Autocomplete(
              pickUpInput, {placeIdOnly: true});
    }

    destinationInput = document.getElementById("editDestinationInput");
    if (destinationInput) {
      var destinationInput = new google.maps.places.Autocomplete(
              destinationInput, {placeIdOnly: true});
    }

    var geocoder = this.geocoder;
    var me = this;
  }

  showRoute.prototype.setupPlaceChangedListener = function(autocomplete, onChanged) {

    autocomplete.bindTo('bounds', this.map);
    autocomplete.addListener('place_changed', onChanged);

  };

  function confirmRider(id, btn) {
    console.log(id);

    var post = {
      userId: id,
      routeId: routeData._id
    };

    $(btn).button('loading');

    $.post("/route/confirmrider", post, function(data, textStatus) {
      for (var i = 0; i < routeData.riders.length; i++) {
        var rider = routeData.riders[i];
        if (rider._id == id) {
          routeData.riders.splice(i, 1);
          routeData.confirmedRiders.push(rider);
        }
        $("#seatsText>span").html(routeData.seats - routeData.confirmedRiders.length);
        setUpTable();
        mapHandler.drawMap(function() {
          mapHandler.setMarkers();
        });
        $(btn).button('reset');
      }
    });
  }

  function riderLocationChanged() {
    var user = <%- user ? JSON.stringify(user) : '{}'%>
    var userId = user._id;

    var text = $('#dropOffText'), editable = $('#dropOffTextEditable');
    text.show();
    editable.hide();
    var address = editable.find('input').val();
    text.find('span').html(address);


    var found = false;
    for (var i = 0; i < routeData.riders.length; i++) {
      if (routeData.riders[i]._id == userID) {
        found = true;
        break;
      }
    }
    if (found) {
      routeData.dropOffs[userId] = address;
    }
    else {
      routeData.riders.push(user);
      routeData.dropOffs = routeData.dropOffs || {};
      routeData.dropOffs[userId] = address;
    }


    data = {
      routeId: "<%= routeData._id %>",
      address: address
    };

    $.post("/route/addrider", data, function(data, text) {
      console.log(data, text);
    });

    mapHandler.setMarkers();
  }

  function setUpEditability() {
    <% if (isDriver) { %>
      $('#originText>span').click(function() {
        $('#originText').hide();
        $('#originTextEditable').show();
        var input = $('#originTextEditable').find('input');
        input.focus();
        input[0].selectionStart = input[0].selectionEnd = input.val().length;
      });

      $('#destinationText>span').click(function() {
        $('#destinationText').hide();
        $('#destinationTextEditable').show();
        var input = $('#destinationTextEditable').find('input');
        input.focus();
        input[0].selectionStart = input[0].selectionEnd = input.val().length;
      });

      $('#seatsText>span').click(function() {
        $('#seatsText').hide();
        $('#seatsTextEditable').show();
        var input = $('#seatsTextEditable').find('input');
        input.focus();
        input[0].selectionStart = input[0].selectionEnd = input.val().length;
      });

      $('#dateText>span').click(function() {
        $('#dateText').hide();
        $('#dateTextEditable').show();
        var input = $('#dateTextEditable').find('input');
        input.focus();
        input[0].selectionStart = input[0].selectionEnd = input.val().length;
      });

      $('#timeText>span').click(function() {
        $('#timeText').hide();
        $('#timeTextEditable').show();
        var input = $('#timeTextEditable').find('input');
        input.focus();
        input[0].selectionStart = input[0].selectionEnd = input.val().length;
      });
    <% } else { %>

      <% if (isRider) { %>
        $("#dropOffText").show();
      <% } else { %>
        $("#dropOffTextEditable").show();
      <% } %>

    <% } %>

    <% if (!confirmedRider) { %>
      $('#dropOffText').click(function() {
        $('#dropOffText').hide();
        $('#dropOffTextEditable').show();
        var input = $('#dropOffTextEditable').find('input');
        input.focus();
        input[0].selectionStart = input[0].selectionEnd = input.val().length;
      });
    <% } %>
  }

  function editableDone(submit, id) {
    selector = "#" + id;
    var textDiv = $(selector + 'Text');
    var editableDiv = $(selector + 'TextEditable');
    textDiv.show();
    editableDiv.hide();

    var span = textDiv.find('span'), input = editableDiv.find('input');
    console.log(submit, span.html().trim(), input.val())
    if (submit && (span.html() != input.val() || id == "seats")) {
      if (id == "seats") {
        console.log("trimming " + (routeData.confirmedRiders.length + routeData.riders.length));
        var seatsLeft = input.val() - (routeData.confirmedRiders.length + routeData.riders.length);
        var s = "" + seatsLeft
        span.html(s.trim());
      }
      else {
        span.html(input.val().trim());
      }
      routeData[id] = input.val().trim();
      mapHandler.drawMap();

      data = {
        routeId: routeData._id,
        updating: id
      };

      data[id] = input.val();

      $.post("/route/update", data, function() {

      });
    }
    else {
      var html = span.html().trim();
      if (id == "seats"){
        input.val(parseInt(html) + 1);
      }
      else {
        input.val(html);
      }
    }
  }

  var routeData = <%- routeDataString %>;

  function setUpTable() {
    var table = document.getElementById("tableDiv");
    if (routeData.confirmedRiders.length + routeData.riders.length == 0) {
      $(table).hide();
    }
    else {
      $(table).show();
    }

    var tbody = document.getElementById("riderTable");
    tbody.innerHTML = "";
    for (var i = 0; i < routeData.confirmedRiders.length; i++) {
      var rider = routeData.confirmedRiders[i];
      var color = "green", title="confirmed";

      if (routeData.requireInitialDeposit && !routeData.riderStatus[rider._id].paid) {
        color = "purple";
        title="Awaiting payment";
      }

      tbody.innerHTML += '<tr onclick="console.log(\'hi\');" id="rider' + rider._id + '">' +
          "<td> " + (i+1) + " </td>" +
          "<td> " + rider.facebook.name + "</td>" +
          "<td> $" + routeData.inconvenience[0].toFixed(2) + " </td>" +
          '<td> <span title="' + title + '" class="glyphicon glyphicon-ok" style="color:' + color + '" aria-hidden="true"></span></td>' +
          "</tr>";
    }


    for (var i = 0; i < routeData.riders.length; i++) {
      var onclick = "javascript:confirmRider('" + routeData.riders[i]._id + "', this)";

      tbody.innerHTML += '<tr id="rider' + routeData.riders[i]._id + '">' +
          '<td>' + (i+1) + '</td>' +
          '<td>' + routeData.riders[i].facebook.name + '</td>' +
          "<td> $" + routeData.inconvenience[0].toFixed(2) + " </td>" +
          '<td>' +
          <% if (isDriver) { %>
            '  <button onclick="' + onclick + '" type="button" class="btn btn-success btn-xs">Confirm</button>' +
          <% } %>
          '</td>' +
        '</tr>';
    }
  }

  function hightlightInTable(riderId) {
    $("#riderTable").find("tr").each(function(i, elem) {
      if (elem.id == "rider" + riderId) {
        $(elem).addClass("highlighted");
      }
      else {
        $(elem).removeClass("highlighted");
      }
    });
  }

  function unHighlightTable() {
    $("#riderTable").find("tr").each(function(i, elem) {
      $(elem).removeClass("highlighted");
    });
  }

  function showFBModal() {
    $('#selfLink').html(window.location.href);
    $('#selfLink')[0].href = window.location.href;
    $("#facebookModal").modal('toggle');
  }

  var shareableLinkStatus = 0;
  function toggleShareableLink() {
    if (shareableLinkStatus == 0) {
        $('#shareableLink').show();
        shareableLinkStatus = 1;
    }
    else {
      $('#shareableLink').hide();
      shareableLinkStatus = 0;
    }
  }

  function setUpTextInfo() {
    if (routeData.requireInitialDeposit) {
      $('#infoText').html("Initial Deposit is Required");
    }
  }

  setUpTable();
  setUpEditability();
  setUpTextInfo();
  <% if (!opened && isDriver) { %>
    showFBModal()
  <% } %>

</script>
