<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="icon" href="../../favicon.ico">
    <title>EasyDrive</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/landing.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
   <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<% include ./partials/navbar %>

<div class="first-landing">
    <div class="container">
        <div class="row">
            <div class="info-block center-block col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h1>
                    Carpool made simple.
                </h1>
                <p class="about">EasyDrive makes carpooling easy for drivers. No more last minute bailing and ride with students that best fit your route. </p>
                <!-- <a href="/" class="action-btn btn">Join the Waitlist</a> -->

<!--                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Browse drivers..." />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" second-landing container-fluid">
    <ul class="progressbar">
        <li class="active">Create editable route</li>
        <li>Share route with Facebook post</li>
        <li>Riders add dropoff location</li>
        <li>Drive students most convenient for you </li>
    </ul>
</div>
<!--
<div class="navbar wizard">
    <div class="col-md-4"></div>
    <div class="navbar-inner">

        <ul class="nav nav-pills wizard">
            <li class="active"><a href="#step1" data-toggle="tab" data-step="1">1</a></li>
            <li><a href="#step2" data-toggle="tab" data-step="2">2</a></li>
            <li><a href="#step3" data-toggle="tab" data-step="3">3</a></li>
        </ul>
    </div>
</div>

-->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="feature col-xs-12 col-sm-6 col-md-4">
                <img src="images/landing-feature-payment.jpg" alt="">
                <h3>Preventing No-shows</h3>
                <p>Preventing no-shows by having riders put up an initial deposit.</p>
            </div>
            <div class="feature feature-waitlist col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-0">
                <img class="resize" src="images/Landing-map.png" alt="">
                <h3>Rider </h3>
                <p>Riders can place their dropoff location anywhere on the your editable route and pick the riders most convenient with you!
                </p>
            </div>
        </div>
    </div>
</section>

<section id="subscribe" class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="title">For Riders</h2>
                <p> Limited 100 spot waitlist for riders. Are you a rider interested in our new notifications feature? Receive instant notifications when a new shared ride is relevant to you.
                Our smart algorithm finds rides on the way or to your location. Just turn it on when you're looking for rides.</p>
                <form action="" method="post" >
                    <div class = " col-md-8" >
                        <input class="email" type="text" name = "inputText" placeholder="email">
                        <input class="btn" type="submit" name= "SubmitButton" value="Subscribe me">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--
<div class="container-fluid">
    <h3> ho </h3>
</div>
-->
<footer>
    <div id="policy">
        <div class="block"><a href="#">About</a><a href="#">Policy</a><a href="#">FAQ</a></div>
        <div class="block"><p>&#169; EasyDrive, LLC All rights reserved.</p></div>
    </div>
    <div id="social">
        <a href="#"><img src="images/facebook.png">
                <a href="#"><img  src="images/youtube.png">
                    <a href="#"><img src="images/twitter.png">
    </div>
</footer>
<script>
    $('.next').click(function(){

        var nextId = $(this).parents('.tab-pane').next().attr("id");
        $('[href=#'+nextId+']').tab('show');
        return false;

    })

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

        //update progress
        var step = $(e.target).data('step');
        var percent = (parseInt(step) / 3) * 100;

        $('.progress-bar').css({width: percent + '%'});
        $('.progress-bar').text("Step " + step + " of 3");

        //e.relatedTarget // previous tab

    })

    $('.first').click(function(){

        $('#myWizard a:first').tab('show')

    })
</script>
</body>
</html>
