<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Routepen</title>


    <!-- JQUERY LIRARIES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"> </script>
    <link rel="stylesheet" href="/css/jquery-ui.css">


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- editable text -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>


    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/route.css" rel="stylesheet">

    <script src="/js/alert.js"> </script>

    <link type="text/css" href="/css/bootstrap-timepicker.min.css" />
    <script type="text/javascript" src="/js/bootstrap-timepicker.min.js"></script>

</head>

<body style="overflow:hidden;">


<% include ./partials/displays/navbar %>

<div id="bootstrap-alert"> </div>

<div id="content" class="fill">

  <% include ./partials/displays/route_info %>

  <% include ./partials/displays/map %>
</div>


<% if (data.routeId) { %>
  <script type="text/javascript">
    var data = <%- JSON.stringify(data) %>;
  </script>

  <script src="/js/map.js"></script>
  <script src="/js/viewRouteMap.js"></script>
  <script src="/js/table.js"></script>
  <script src="/js/displays/seats_display.js"></script>
  <script src="/js/displays/date_display.js"></script>
  <script src="/js/displays/time_display.js"></script>
  <script src="/js/displays/location_display.js"></script>
  <script src="/js/displays/info_display.js"></script>
  <script src="/js/clock.js"></script>
  <script src="/js/helpers/http.js"></script>
  <script src="/js/helpers/route_data_updater.js"></script>
  <script src="/js/drop_off.js"></script>
  <script src="/js/heading.js"></script>
  <script src="/js/modals/join_ride.js"></script>
  <script src="/js/modals/facebook.js"></script>
  <script src="/js/route.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeWLtoD-PTsiqaI1QuPR5y1Vas2P3QStA&callback=initMap&libraries=places"  async defer></script>
<% } %>


</body>
</html>
