<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <!--<link rel="icon" href="../../favicon.ico"> -->

    <title>RoutePen</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!--<link href="/css/new_landing.css" rel="stylesheet"> -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

    <script src="/js/alert.js"> </script>

    <script src="/js/helpers/http.js"></script>


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="background-color:#0c84e4; overflow: hidden">

<% include ./partials/displays/navbar %>

<div id="bootstrap-alert"> </div>

<div style="padding-top: 40px"></div>

<div class="core-container">
  <div class="col-md-3 col-sm-0">
    <div style="border-radius:15px; background-color:white">
      <div class="core-container">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <div style="padding-left: 10px;">
            <div style="font-size: 24px; font-weight:bold; color:#F0413D">Sort By</div>
            <select multiple class="form-control" onchange="selectChanged()">
              <option autofocus>Date</option>
              <option>Origin</option>
              <option>Destination</option>
              <option>Role</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-12" style="overflow: scroll">
    <input type="button" class="btn btn-warning" id="checkAll" style="margin-left: 20px;" value="CHECK ALL" onclick="checkall();"> </input>
    <button type="button" class="btn btn-success" id="signupDisabled" style="float: right; margin-right:20px" onclick = "unsignup();" disabled> Unsignup Rides </button>
    <table class="table">
      <thead>
      <tr class="riderElement-inverse">
          <th> </th>
          <th>#</th>
          <th> Role </th>
          <th> Origin </th>
          <th> Destination </th>
          <th> Cost </th>
          <th> Date </th>
      </tr>
      </thead>
      <tbody id="tbody">
        <!--<tr class="riderElement riderElement-inverse clickable">
          <td>1</td>
          <td>Rider</td>
          <td>Santa Barbara</td>
          <td>San Francisco</td>
          <td>$20</td>
        </tr>-->
      </tbody>
    </table>
  </div>
  <div class="col-md-1 col-sm-0" style="visibility:hidden"></div>
</div>

<script type="text/javascript">
  var routes = <%- JSON.stringify(data.routes) %>;
  var user = <%- JSON.stringify(data.user || null) %>;
  routes = routes.map(function(d) { d.date = new Date(d.date); return d; });

  var tbody = document.getElementById('tbody');
  var s = document.getElementsByTagName('select')[0]
  s.value = "Date";


  $(function(){
    var counter = 0;
    $('.myCheckbox').click(function(event){
      if(event.target.checked == true){
        counter++;
        document.getElementById("signupDisabled").disabled = false;
      }
      else{
        counter--;
      }
      if(counter == 0 ){
        document.getElementById("signupDisabled").disabled = true;
      }
    });
  });



  var checkAll = false;
  var elem = document.getElementById("checkAll");

  function checkall(){
    if(!checkAll){
      document.getElementById("signupDisabled").disabled = false;
      $('.myCheckbox').each(function(event){
        this.checked = true;
      });
      checkAll = true;
      elem.value = "UNCHECK ALL";
    }
    else{
      document.getElementById("signupDisabled").disabled = true;
      $('.myCheckbox').each(function(event){
        this.checked = false;
      });
      checkAll = false;
      elem.value = "CHECK ALL";
    }
  }


  console.log(user._id);

  function unsignup(){
    var array = [];
    $('.myCheckbox').each(function(route){
        if(this.checked){
              array.push(routes[route]._id);
        }
      });
      http.prototype.removeRiderEntirely(user._id, array, function(){});

      setTimeout(function(){ window.location.href = window.location.href;}, 700);
  }


  function sort(routes, sortBy) {
    var func;
    if (sortBy == "Role") {
      func = function(a, b) {
        var role1 = (user._id == a.driver._id ? 1 : 0);
        var role2 = (user._id == b.driver._id ? 1 : 0);
        return role1 - role2;
      }
    }
    else if (sortBy == "Origin") {
      func = function(a, b) {
        return a.origin > b.origin;
      }
    }
    else if (sortBy == "Destination") {
      func = function(a, b) {
        return a.destination > b.destination;
      }
    }
    else {
      func = function(a, b) {
        return b.date - a.date;
      }
    }

    routes.sort(func);
  }

  function setUpTable(sortBy) {

    sort(routes, sortBy);

    tbody.innerHTML = "";
    if (routes.length == 0) {
      tbody.innerHTML = '<tr><td style="color: white; font-size:18px">You have no routes. Why don\'t you <a href="/route/new" style="color:lightgray">create one</a> or signup for one';
    }
    else {
      for (var i = 0; i < routes.length; i++) {
        if(routes[i] != null){
          var onclick = "clicked('" + (routes[i].shortId || routes[i]._id) + "')";
          tbody.innerHTML += '<tr class="riderElement riderElement-inverse clickable"">' +
            '<td> <input class="myCheckbox" type="checkbox"/> </td>' +
            '<td onclick="' + onclick + '">' + (i+1) + '</td>' +
            '<td onclick="' + onclick + '">' + (user._id == routes[i].driver ? "Driver" : "Rider") + '</td>' +
            '<td onclick="' + onclick + '">' + routes[i].origin.name + '</td>' +
            '<td onclick="' + onclick + '">' + routes[i].destination.name + '</td>' +
            '<td onclick="' + onclick + '">$' + routes[i].inconvenience + '</td>' +
            '<td onclick="' + onclick + '">' +  (1 + new Date(routes[i].date).getMonth()) + '/' + new Date(routes[i].date).getDate() + '</td>' +
            '</tr>';
          }
      }
    }
  }

  function clicked(id) {
    window.location.href = "/route?id=" + id;
  }

  setUpTable(s.value);

  function selectChanged() {
    console.log(s.value);
    setUpTable(s.value);
  }

  function onMapsReady() {
    NavBarAutocompleteHandler();
  }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeWLtoD-PTsiqaI1QuPR5y1Vas2P3QStA&libraries=places&callback=onMapsReady"
        async defer></script>

</body>
</html>
