/*body {
 background-image: url(bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  font-family: 'Open Sans', sans-serif;
} */

#newride{
  left-margin : 10px,
}
.navbar-static-top {
  position:absolute;
  margin-bottom: 19px;
}
.media-object {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.media {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
#title {
  color: #fff;
  background-color: #4285F4 !important;
  /*background-color: #4d90fe; */
  font-size: 25px;
  font-weight: 500;
  /*padding: 6px 12px;*/
}
#map {
  height: 100%;
}
.newroute{
  margin-right: 10px;
}
.controls {
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  /*background-color: #4285F4 !important;*/
  /*background-color: #fff; */
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}
/* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  top: 0px;
  margin: 0px;
  padding: 0px;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}
.first-landing{
  background-image: url("../images/low-res.jpg");
}

.core-container{
  position:relative;
  /* box-shadow: 1px 0px 2px #888888; */
}
#link-panel{
  height:60px;
}
#copy-link{
  position:relative
}


