thead, tbody {
  display:block;
}
tbody{
  overflow-y: scroll;
  height: 200px;
  overflow-x: hidden;
}
.myCheckbox{
  padding: 12px 8px;
}
.origin-destination-display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*
td > input[type="checkbox"]:checked {
    color: #4caf50 ;
}
*/
