thead, tbody {
  display:block;
}
tbody{
  overflow-y: scroll;
  height: 200px; 
  overflow-x: hidden;
}
/*
.groupButtons{
  position: relative;
}
.responsiveTable{
  position: absolute;
  height: 1em;
}
*/

.origin-destination-display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*
td > input[type="checkbox"]:checked {
    color: #4caf50 ;
}
*/
