<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirm your email</h4>
            </div>
            <form action="javascript:confirmEmail()">
                <div class="modal-body">
                    Send me notifications at
                    <input id="email-input" type="email" class="form-control" id="emailInput" value="<%= data.user.confirmedEmail || data.user.facebook.email %>"
                           placeholder="Email">
                </div>
                <div class="modal-footer">
                    <input id="submitEmailButton" type="submit" class="btn btn-primary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-md-4 core-container">
    <div style="padding-left:10px;">
        <div id="header-color-box" class="color-box">
            <h3 class="color-header">
                Create a Route
            </h3>
        </div>

        <div id="driver_input_container" class="row">
            <% include ./routePathInput.ejs %>
            <!--<input id="destination" type="text" name = 'destination' class="form-control" placeholder="Destination"> -->
            <!--  <a class="btn btn-lg btn-success" type="submit" value="Submit" href="#" role="button">Route</a> -->


            <hr>
            <div>
                <div class="col-md-12">
                    <input id="num-seats" name="seats" class="controls" type="text"
                           placeholder="Enter number of seats..."><br>
                    <input id="charge" name="charge" class="controls" type="text" placeholder="$ Cost per seat" onPaste=""><br>
                    <br>
                    <!--<input id="requireInitialDeposit" name="requireInitialDeposit" type="checkbox" checked> Require
                    Initial Deposit <br>
                    <div font-size="8px" id="initialDepositNotes">
                      Initial deposits requires a 3 dollar additional charge for each rider
                      <br>
                      <a target="_blank" href="/html/faq/initialDeposit.html">What is this?</a>
                    </div>
                    <br>-->
                    <input id="date" name="date" class="controls" type="text" placeholder="Date..." onPaste="">

                    <br>
                    <input id="time" name="time" class="controls" type="text" placeholder="Time..." onPaste=""
                           onkeydown="if (event.keyCode == 13) { submitForm(); return false; }">

                    <br><br>
                    <input type="submit" id="create-route-button" class="btn btn-md btn-success" value="Create Route">
                </div>
            </div>


            <input type="hidden" name="confirmedEmail" id="confirmed_email_input">
        </div>

        <br>

    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeWLtoD-PTsiqaI1QuPR5y1Vas2P3QStA&libraries=places&callback=initMap"
        async defer></script>

<script src="/js/routePathInput.js"></script>

<script type="text/javascript">

    var mapInputsCorrect = false;
    var originInput = document.getElementById('origin-input');
    var destinationInput = document.getElementById('destination-input');

    var routeData = {
      confirmedRiders: [],
      riders: [],
      stops: [],
      origin: {
        place_id: "ChIJN0sx82c_6YARws62XH5rlU4",
        name: "UCSB, Santa Barbara, CA, United States"
      }
    };

    function placify(place, callback) {
      if (place.place_id) {
        return callback(place);
      }

      mapHandler.getPlaceId(place.name, callback);
    }


    function onMapDisplaysRoute() {
      mapInputsCorrect = true;

      $('#editRouteButtons').show();
    }

    function invalidInputLocation(OriginOrDestination, location) {
      $("#" + OriginOrDestination + "-error").show();
      $("#" + OriginOrDestination + "-error").html("Couldn't find " + location);
    }

    var routePathInput = new RoutePathInput();

    var mapHandler;
    function initMap() {
      new NavBarAutocompleteHandler();

        var map = new google.maps.Map(document.getElementById('map'), {
            mapTypeControl: false,
            center: {lat: 34.4140, lng: -119.8489},
            zoom: 13
        });

        mapHandler = new NewRouteMapManager(map, routeData);

        var originAutocomplete = new google.maps.places.Autocomplete(originInput, {placeIdOnly: true});
        var destinationAutocomplete = new google.maps.places.Autocomplete(destinationInput, {placeIdOnly: true});

        var me = this;

        function getPlaceChangedHandler(OriginOrDestination, autocomplete) {
          return function() {
            const givenPlace = autocomplete.getPlace();
            me.placify(givenPlace, function(place) {
              if (!place) {
                return invalidInputLocation(OriginOrDestination, givenPlace.name);
              }
              routeData[OriginOrDestination] = place;
              mapHandler.drawMap(onMapDisplaysRoute);
            });
          }
        }

        originAutocomplete.addListener("place_changed",
          getPlaceChangedHandler('origin', originAutocomplete));

        destinationAutocomplete.addListener("place_changed",
          getPlaceChangedHandler('destination', destinationAutocomplete));

        mapHandler.bindAutocompleteToMap(originAutocomplete);
        mapHandler.bindAutocompleteToMap(destinationAutocomplete);
    }

    $(function () {
        $("#date").datepicker();
    });
    $("#time").timepicker({
        template: false,
        showInputs: false,
        minuteStep: 5,
        defaultTime: "8:00 AM"
    });


    function confirmEmail() {
        var email = document.getElementById("confirmed_email_input");
        var emailInput = document.getElementById("email-input");
        email.value = emailInput.value;
        post();
    }

    $('#create-route-button').click(submitForm);

    function submitForm() {
        if (validateFields()) return;

        if ("<%= data.user.confirmEmail %>" == "") {
          $("#emailModal").modal('show');
          setTimeout(function() {
            $("#email-input").focus();
            $("#email-input").select();
          }, 500);
        }

    }

    function getErrorMessage() {
      if (!mapInputsCorrect) { return "Please enter a valid origin and a valid destination"; }

      var seats = document.getElementById("num-seats").value.replace(/\s+/, "");
      var charge = document.getElementById("charge").value.replace(/\s+/, "");
      var date = document.getElementById("date").value;
      //var time = document.getElementById("time").value;

      if (seats.search(/^\d+$/) < 0) { return "Please enter a number for the number of people you can take"; }
      if (charge.search(/^\$?(?:\d*\.\d{0,2}|\d+)$/) < 0) { return "Please enter a number for the price per seat"; }
      if (date.split('/').length != 3) { return "Please enter a valid date"; }
      //if (time == "") { return "Please enter the time you are leaving"; }

      return "";
    }

    function validateFields() {
        errorMessage = getErrorMessage();
        if (errorMessage != "") {
            $('#errorMessage').html(errorMessage);
            $('#alertbox').show();
            return true;
        }

        $('#alertbox').hide();
        return false;
    }

    var posted = false;
    function post() {
      // if (validateFields()) return;
      //
      // if (posted) return;
      // posted = true;
      console.log("posting");
      $('#create-route').button('loading');

      var seats = document.getElementById("num-seats");
      var charge = document.getElementById("charge");
      var requireInitialDeposit = document.getElementById("requireInitialDeposit");
      var date = document.getElementById("date");
      var time = document.getElementById("time");
      var email = document.getElementById("confirmed_email_input");
      var distance = mapHandler.getDistance();

      console.log("posting 2");

      var data = {
          seats: seats.value,
          charge: charge.value.replace('$', ''),
          //requireInitialDeposit: requireInitialDeposit.checked,
          date: date.value,
          time: time.value,
          routeData: {
            origin: {
              name: routeData.origin.name,
              place_id: routeData.origin.place_id
            },
            destination: {
              name: routeData.destination.name,
              place_id: routeData.destination.place_id
            },
          },
          stops: mapHandler.getRouteWayPoints().map(function(point) {
            return {'lat': point.lat(), 'lng': point.lng()};
          }),
          distance: distance
      };


      var confirmedEmail = email.value;
      if (confirmedEmail) {
        data.confirmedEmail = confirmedEmail;
      }

      console.log("posting 3");
      $.post('/route/new/', data, function(data, status){
        console.log(data, status);
        if (status == "success") {
          window.location.href = data;
        }
        else {
          posted = false;
          $('#create-route').button('reset');
        }
      })
      .error(function() { alert("Request failed. Try again later"); });
    }


</script>
