<div id="mapContainer" class="mapContainer">
  <div id="mapInstructions" style="visibility:hidden">
    <center>
      <br/>
      <span id="mapInstructionsText" class="mapInstructionsText"></span>
    </center>
  </div>
  <div id="map"></div>
</div>
